{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="h4 text-gray-900 mb-4 text-center"> Change your password!</h1>
                {% csrf_token %}
                {{form | crispy}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Change" />
            </div>
        </div>
        <div class="text-center">
            <a class="small" href="{% url 'redirect' %}">Back</a>
        </div>

    </div>
</form>
{% endblock content %}